<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
        <authentication mode="Forms">
            <forms loginUrl="~/Login.aspx" timeout="90" />
        </authentication>
  </system.web>
  <system.serviceModel>


    <services>
      <service behaviorConfiguration="WcfServiceOLO.WCFBehavior" name="WcfServiceOLO.Billing">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SafeServiceConf" contract="WcfServiceOLO.IBilling">
          <!--<identity>
            <dns value="https://online.salesland.net/olowcf2/" />
          </identity>-->
        </endpoint>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceOLO.WCFBehavior">
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WcfServiceOLO.CustomValidator, WcfServiceOLO" />
          </serviceCredentials>
<serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="SafeServiceConf" maxReceivedMessageSize="65536" messageEncoding="Text">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <connectionStrings>
	<add name="OLOEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.23.19.241;initial catalog=OLO;user id=slsql;password=aiCh6o;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
